
#left_col{
	float: left;
	margin-left:0px;
	width: 6%;
	height: 100%;
	z-index: 3;
	left:0px;
	position:relative;
}

.upper{
	height: 40%;
	valign:middle;
	background: #DDD;
}

.lower{
	height: 60%;
	valign:middle;
	background: #c2c2c2;
}

#viewpad{
	position: relative;
	padding-bottom: 0px;
	height:97%;
}

#right_col{
	float:right;
	margin-right: 0px;
	width: 6%;
	height: 100%;
	z-index: 3;
	right:0px;
	position:relative;
}

#mainpad{
	padding-bottom:0px;
	padding:0px;
}

/*#settingPad{
	position:absolute;
	//top:40px;
	display:block;
	float: center;
	width: 60%;
}
*/

#readingPad{
	text-align:left;
	word-wrap:break-word;
	overflow: auto;
}
#footer{
	position:absolute;
	bottom:0;
	z-index:5;
}

.header_btns{
	top:0;
}

#library{
	top:0.4em;
}

#btns_header{
	margin: 0.4em 0 1em;
}

#slider{
    text-align: center;
    bottom: 35px;
    position: fixed;
    width: 90%;
	float: initial;
}

#settingPad{
	text-align: center;
}

#bookmark{
	text-align: center;
}

#chapters{
	text-align: center;
}

.reading p{
	padding: 0;
	margin-top: 0;
}

#share{
	height: 34px;
	padding: 0;
}